<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h3>Want to Sign-up? <a href="/register">Register Here</a></h3><br>
    <h3>Want to Login? <a href="/login">Login Here</a></h3><br>
</body>
</html>